[Unit]
Description=Run GPTAdmin FRP client watchdog

[Timer]
OnCalendar=*-*-* *:*:00/15
AccuracySec=1s
RandomizedDelaySec=0
Persistent=true
Unit=gptadmin-frp-watchdog.service

[Install]
WantedBy=timers.target
