[Unit]
Description=Hub Proxy for GPT Server Management (gptadmin_hub)
After=network.target
Requires=gptadmin_hub.socket

[Service]
Type=notify
WorkingDirectory=/home/admin/gptadmin
ExecStart=/opt/gptadmin/bin/gptadmin_hub
Environment=CTL_TOKEN=chatgpt_secret
Restart=always
RestartSec=5
User=admin

[Install]
WantedBy=multi-user.target
