[Unit]
Description=Hub Proxy for GPT Server Management (hub_proxy)
After=network.target
Requires=hub_proxy.socket

[Service]
Type=notify
WorkingDirectory=/home/admin/gptadmin
ExecStart=/home/admin/gptadmin/.venv/bin/python /home/admin/gptadmin/services/main_package/hub_proxy.py
Environment=CTL_TOKEN=chatgpt_secret
Restart=always
RestartSec=5
User=admin

[Install]
WantedBy=multi-user.target
