openapi: 3.0.3
info:
  title: GPTAdmin MCP Relay
  version: go-dev
  description: |
    Universal MCP relay for GPTAdmin.

    Use this API as a single interface for remote servers:
      1. listMcpServers — choose an online server.
      2. listMcpTools — inspect tools available on that server.
      3. callMcpTool — call exactly one tool on exactly one target.
      4. If background=true and job_id is returned, poll getMcpJob until status is completed or failed.

    Shell hosts and MCP services are exposed as GPTAdmin servers with ids like shell:<server_name>.
    The hub itself is exposed as target "hub" for registry and approval tools.
servers:
  - url: https://u-f1102930.t.gptadmin.bezrabotnyi.com
security:
  - bearerAuth: []
paths:
  /mcp-relay/servers:
    get:
      operationId: listMcpServers
      summary: List MCP servers
      description: Lists real MCP servers, virtual shell servers, and the built-in hub server.
      responses:
        "200":
          description: Available MCP servers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMcpServersResponse"
  /mcp-relay/tools:
    post:
      operationId: listMcpTools
      summary: List tools for one MCP server target
      description: Requests tools/list from an explicitly selected MCP server. Call listMcpServers first and pass one returned server_id as target. There is no default target; never use target="default".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListMcpToolsRequest"
      responses:
        "200":
          description: Tool list response or background job reference
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/McpToolResponse"
  /mcp-relay/call:
    post:
      operationId: callMcpTool
      summary: Call one tool on one MCP server target
      description: Calls one tool on one selected target. Do not use this as bulk API; call it once per target when several servers must be used.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CallMcpToolRequest"
      responses:
        "200":
          description: Tool call response or background job reference
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/McpToolResponse"
  /mcp-relay/job/{job_id}:
    get:
      operationId: getMcpJob
      summary: Get MCP background job status
      description: Polls a background MCP job. Set ack=true after reading a completed or failed result to remove it from hub memory.
      parameters:
        - name: job_id
          in: path
          required: true
          description: Job id returned by listMcpTools or callMcpTool.
          schema:
            type: string
        - name: ack
          in: query
          required: false
          description: Remove completed or failed job result after reading.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: MCP job status and optional result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/McpJobResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ListMcpServersResponse:
      type: object
      additionalProperties: false
      required: [servers]
      properties:
        servers:
          type: array
          items:
            $ref: "#/components/schemas/McpServer"
    McpServer:
      type: object
      additionalProperties: true
      required: [server_id, name, kind, status]
      properties:
        server_id:
          type: string
          description: Target id to use in listMcpTools and callMcpTool.
        name:
          type: string
        kind:
          type: string
          enum: [real_mcp, virtual_shell, virtual_hub, hub]
        transport:
          type: string
          nullable: true
        status:
          type: string
          enum: [online, offline, stale]
        last_seen:
          type: number
          nullable: true
        capabilities:
          type: array
          items:
            type: string
        meta:
          type: object
          additionalProperties: true
    ListMcpToolsRequest:
      type: object
      additionalProperties: false
      required: [target]
      properties:
        target:
          type: string
          description: Explicit server id from listMcpServers. There is no default target. Never use "default".
        timeout:
          type: integer
          nullable: true
          minimum: 1
          maximum: 35
          default: 30
        background:
          type: boolean
          default: false
    CallMcpToolRequest:
      type: object
      additionalProperties: false
      required: [target, tool_name]
      properties:
        target:
          type: string
          description: Explicit server id from listMcpServers. There is no default target. Never use "default".
        tool_name:
          type: string
          description: Tool name returned by listMcpTools.
        args:
          type: object
          additionalProperties: true
          default: {}
          description: Tool input object for the selected tool. Use this field exactly for ChatGPT Actions.
        timeout:
          type: integer
          nullable: true
          minimum: 1
          maximum: 35
          default: 30
        background:
          type: boolean
          default: false
    McpToolResponse:
      type: object
      additionalProperties: true
      required: [server_id, status]
      properties:
        server_id:
          type: string
        status:
          type: string
          enum: [completed, running, failed, running_or_unknown]
        response:
          type: object
          nullable: true
          additionalProperties: true
        background:
          type: boolean
        job_id:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        error:
          type: object
          nullable: true
          additionalProperties: true
    McpJobResponse:
      type: object
      additionalProperties: true
      required: [job_id, status]
      properties:
        job_id:
          type: string
        status:
          type: string
          enum: [queued, running, completed, failed, orphaned, running_or_unknown]
        server_id:
          type: string
          nullable: true
        response:
          type: object
          nullable: true
          additionalProperties: true
        error:
          type: object
          nullable: true
          additionalProperties: true
        acked:
          type: boolean
          default: false
    McpError:
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
