openapi: 3.1.0
info:
  title: GPTAdmin MCP Relay
  version: "1.0.0"
  description: |
    Compact control API: discover → schema → execute. Poll job when background=true.

    Shell hosts and MCP services are exposed as GPTAdmin servers with ids like shell:<server_name>.
    The hub itself is exposed as target "hub" for registry and approval tools.
servers:
  - url: https://u-f1102930.t.gptadmin.bezrabotnyi.com
security:
  - bearerAuth: []
paths:
  /mcp-relay/servers:
    get:
      operationId: discover
      summary: Discover targets
      description: List compact MCP targets. Add detail=full only when metadata is needed.
      parameters:
        - name: detail
          in: query
          required: false
          description: Opt in to transport, capabilities and metadata.
          schema:
            type: string
            enum: [full]
      responses:
        "200":
          description: Available MCP servers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscoverResponse"
  /mcp-relay/tools:
    post:
      operationId: schema
      summary: Get target schema
      description: List tools for one target from discover. Never use target="default".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SchemaRequest"
      responses:
        "200":
          description: Tool list response or background job reference
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
  /mcp-relay/call:
    post:
      operationId: execute
      summary: Execute one tool
      description: Execute one tool on one selected target. Use schema first.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteRequest"
      responses:
        "200":
          description: Tool call response or background job reference
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
        "403":
          description: The JWT is read-only and the selected tool can modify state or execute commands.
  /mcp-relay/job/{job_id}:
    get:
      operationId: job
      summary: Get job
      description: Read a background job by id.
      parameters:
        - name: job_id
          in: path
          required: true
          description: Job id returned by execute.
          schema:
            type: string
        - name: ack
          in: query
          required: false
          description: Remove completed or failed job result after reading.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: MCP job status and optional result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    DiscoverResponse:
      type: object
      additionalProperties: false
      required: [servers]
      properties:
        servers:
          type: array
          items:
            $ref: "#/components/schemas/McpServer"
    McpServer:
      type: object
      additionalProperties: true
      required: [server_id, name, kind, status]
      properties:
        server_id:
          type: string
                  description: Target id to use in schema and execute.
        name:
          type: string
        kind:
          type: string
          enum: [real_mcp, virtual_shell, virtual_hub, hub]
        transport:
          type: string
          nullable: true
        status:
          type: string
          enum: [online, offline, stale]
        last_seen:
          type: number
          nullable: true
        capabilities:
          type: array
          items:
            type: string
        meta:
          type: object
          additionalProperties: true
    SchemaRequest:
      type: object
      additionalProperties: false
      required: [target]
      properties:
        target:
          type: string
          description: Target id from discover. Never use "default".
        timeout:
          type: integer
          nullable: true
          minimum: 1
          maximum: 35
          default: 30
        background:
          type: boolean
          default: false
    ExecuteRequest:
      type: object
      additionalProperties: true
      required: [target, tool]
      properties:
        target:
          type: string
          description: Target id from discover. Never use "default".
        tool:
          type: string
          description: Tool name from schema.
        tool_name:
          type: string
        arguments:
          type: object
          additionalProperties: true
          default: {}
        args:
          type: object
          additionalProperties: true
          default: {}
        cmd:
          type: string
          nullable: true
        query:
          type: string
          nullable: true
        cwd:
          type: string
          nullable: true
        timeout:
          type: integer
          nullable: true
          minimum: 1
          maximum: 35
          default: 30
        background:
          type: boolean
          default: false
        idempotency_key:
          type: string
          minLength: 1
          maxLength: 200
          description: Reuse only for the same operation.
    Result:
      type: object
      additionalProperties: true
      required: [server_id, status]
      properties:
        server_id:
          type: string
        status:
          type: string
          enum: [completed, running, failed, running_or_unknown]
        response:
          type: object
          nullable: true
          additionalProperties: true
        background:
          type: boolean
        job_id:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        error:
          type: object
          nullable: true
          additionalProperties: true
    Job:
      type: object
      additionalProperties: true
      required: [job_id, status]
      properties:
        job_id:
          type: string
        status:
          type: string
          enum: [queued, running, completed, failed, orphaned, running_or_unknown]
        server_id:
          type: string
          nullable: true
        response:
          type: object
          nullable: true
          additionalProperties: true
        error:
          type: object
          nullable: true
          additionalProperties: true
        acked:
          type: boolean
          default: false
    McpError:
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
