{
  "openapi": "3.1.0",
  "info": {
    "title": "GPTAdmin Hub",
    "version": "3.0.0",
    "description": "Manage remote servers via GPTAdmin hub.\n\nWORKFLOW: listServers → execBulk → if response has background:true, poll getTask until status=completed → ackTask.\n\nTIMEOUT: commands taking >35s return {background:true, task_id}. Use getTask to poll.\n\nPENDING SERVERS: approve by running approve_command value via execBulk on any active server.\n\nBUILT-IN COMMANDS (run via execBulk): gptadmin_pending list | approve <name> | reject <name>; gptadmin_tasks list | status <tid>."
  },
  "servers": [{ "url": "https://gptadmin.bezrabotnyi.com" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/servers": {
      "get": {
        "operationId": "listServers",
        "summary": "List active and pending servers",
        "parameters": [
          {
            "name": "include_pending",
            "in": "query",
            "schema": { "type": "boolean", "default": true }
          }
        ],
        "responses": {
          "200": { "description": "servers[] and pending[]", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } }
        }
      }
    },
    "/bulk/exec": {
      "post": {
        "operationId": "execBulk",
        "summary": "Run a shell command on one or more servers",
        "description": "For a single server pass one-element array. Returns {results: {server: {stdout, stderr, returncode}}} or {results: {server: {background:true, task_id}}} if the command exceeded the sync timeout.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["servers", "cmd"],
                "properties": {
                  "servers": { "type": "array", "items": { "type": "string" }, "description": "Server names from listServers" },
                  "cmd": { "type": "string" },
                  "cwd": { "type": "string" },
                  "timeout": { "type": "integer", "description": "Command timeout on the server in seconds (not the hub wait)" }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Results keyed by server name", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } }
        }
      }
    },
    "/tasks/{srv}": {
      "get": {
        "operationId": "listTasks",
        "summary": "List background tasks for a server",
        "parameters": [
          { "name": "srv", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "tasks[] with status, cmd, result", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } }
        }
      }
    },
    "/tasks/{srv}/{tid}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get background task status and result",
        "parameters": [
          { "name": "srv", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "tid", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Task with status (running/completed/failed) and result", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } }
        }
      }
    },
    "/tasks/{srv}/{tid}/ack": {
      "post": {
        "operationId": "ackTask",
        "summary": "Remove a handled task from hub memory",
        "description": "Call after reading a completed or failed task result.",
        "parameters": [
          { "name": "srv", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "tid", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    }
  }
}
