openapi: 3.1.0
info:
  title: GPTAdmin Hub
  version: 3.0.1
  description: "Manage remote servers via GPTAdmin Hub.\n\nWorkflow:\n  1. Call listServers\
    \ to see active and pending servers.\n  2. Call execBulk to execute shell commands.\n\
    \  3. If execBulk returns background=true and task_id, call getTask until status\
    \ is completed or failed.\n  4. After reading a finished task, call ackTask to\
    \ remove it from hub memory.\n\nLong-running commands:\n  Commands that may exceed\
    \ 30 seconds should be started with background=true.\n  Synchronous commands may\
    \ automatically return background=true if they exceed the hub sync window.\n\n\
    Pending servers:\n  If listServers shows pending servers, approve one by running\
    \ its approve_command with execBulk on any active server.\n\n\n    MCP relay workflow:\n\
    \      1. Call listMcpRelayAgents to see remote MCP agents connected by long polling.\n\
    \      2. Call listMcpRelayTools with target=\"default\" or an agent_id.\n   \
    \   3. Call callMcpRelayTool with tool_name and arguments from the remote MCP\
    \ tool schema.\n      4. If response.background=true and job_id is returned, call\
    \ getMcpRelayJob until completed.\n"
servers:
- url: https://gptadmin.bezrabotnyi.com
security:
- bearerAuth: []
paths:
  /servers:
    get:
      operationId: listServers
      summary: List active and pending servers
      description: Returns active registered servers and, optionally, pending servers
        waiting for approval.
      parameters:
      - name: include_pending
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Server registry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServersResponse'
  /bulk/exec:
    post:
      operationId: execBulk
      summary: Execute a shell command on one or more servers
      description: 'Runs a shell command on selected servers.


        For one server, pass a one-element servers array.


        If background=true, the hub returns immediately with task_id.

        If background=false but the command exceeds the synchronous wait window,

        the hub may still return background=true and task_id.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecBulkRequest'
      responses:
        '200':
          description: Command results keyed by server name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecBulkResponse'
  /tasks/{srv}:
    get:
      operationId: listTasks
      summary: List background tasks for a server
      description: Lists running, completed, failed, or orphaned background tasks
        known to the hub.
      parameters:
      - name: srv
        in: path
        required: true
        schema:
          type: string
        description: Server name from listServers.
      responses:
        '200':
          description: Background task list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTasksResponse'
  /tasks/{srv}/{tid}:
    get:
      operationId: getTask
      summary: Get background task status and result
      description: Poll this endpoint until status is completed or failed.
      parameters:
      - name: srv
        in: path
        required: true
        schema:
          type: string
        description: Server name from listServers.
      - name: tid
        in: path
        required: true
        schema:
          type: string
        description: Task ID returned by execBulk.
      responses:
        '200':
          description: Background task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponse'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tasks/{srv}/{tid}/ack:
    post:
      operationId: ackTask
      summary: Acknowledge and remove a handled task
      description: Call after reading a completed or failed task result.
      parameters:
      - name: srv
        in: path
        required: true
        schema:
          type: string
        description: Server name from listServers.
      - name: tid
        in: path
        required: true
        schema:
          type: string
        description: Task ID returned by execBulk.
      responses:
        '200':
          description: Acknowledgement result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AckTaskResponse'
  /mcp-relay/agents:
    get:
      operationId: listMcpRelayAgents
      summary: List MCP relay agents
      description: Lists remote MCP agents connected to hub_proxy via long polling.
        Agents are usually local stdio/http MCP servers running on a user machine.
      responses:
        '200':
          description: MCP relay agent registry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpRelayAgentsResponse'
  /mcp-relay/tools:
    post:
      operationId: listMcpRelayTools
      summary: List tools from a remote MCP relay agent
      description: Requests tools/list from a selected remote MCP server through the
        long-polling relay. Use target="default" to select the most recently online
        relay agent. Slow operations may return background=true and job_id.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpRelayToolsRequest'
      responses:
        '200':
          description: Remote MCP tools/list response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpRelayToolResponse'
  /mcp-relay/call:
    post:
      operationId: callMcpRelayTool
      summary: Call a tool on a remote MCP relay agent
      description: Calls tools/call on a selected remote MCP server through the long-polling
        relay. First call listMcpRelayAgents, then listMcpRelayTools, then call this
        endpoint with tool_name and arguments. Requests are bounded by the hub sync
        timeout; long work returns background=true and job_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpRelayCallRequest'
      responses:
        '200':
          description: Remote MCP tools/call response or background job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpRelayToolResponse'
  /mcp-relay/job/{job_id}:
    get:
      operationId: getMcpRelayJob
      summary: Get MCP relay background job status
      description: Poll this endpoint after listMcpRelayTools or callMcpRelayTool
        returns background=true and job_id.
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
        description: Job ID returned by MCP relay operation.
      responses:
        '200':
          description: MCP relay job status/result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpRelayJobStatusResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Server:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        server_id:
          type: string
        base_url:
          type: string
        status:
          type: string
          enum:
          - active
          - pending
          - approved
          - offline
        alive:
          type: boolean
        lag_s:
          type:
          - integer
          - 'null'
        time:
          type: number
        cores:
          type:
          - integer
          - 'null'
        mem_mb:
          type:
          - integer
          - 'null'
        default_user:
          type:
          - string
          - 'null'
        default_uid:
          type:
          - integer
          - 'null'
        default_home:
          type:
          - string
          - 'null'
        os:
          type: string
        mode:
          type: string
          enum:
          - webhook
          - polling
          - websocket
        version:
          type:
          - integer
          - 'null'
        build_version:
          type:
          - integer
          - 'null'
        build_ts:
          type:
          - string
          - 'null'
        git_commit:
          type:
          - string
          - 'null'
        backend:
          type:
          - string
          - 'null'
        proxy_for:
          type:
          - string
          - 'null'
        proxy_via:
          type:
          - string
          - 'null'
        ssh_host:
          type:
          - string
          - 'null'
        ssh_port:
          type:
          - integer
          - 'null'
        ssh_user:
          type:
          - string
          - 'null'
        pending_reason:
          type:
          - string
          - 'null'
        requested_at:
          type:
          - number
          - 'null'
        updated_at:
          type:
          - number
          - 'null'
        fingerprint:
          type:
          - string
          - 'null'
        approve_command:
          type:
          - string
          - 'null'
        reject_command:
          type:
          - string
          - 'null'
        how_to_approve:
          type:
          - string
          - 'null'
    PendingServer:
      type: object
      additionalProperties: false
      properties:
        status:
          type: string
          enum:
          - pending
        reason:
          type: string
        name:
          type: string
        requested_at:
          type: number
        updated_at:
          type: number
        fingerprint:
          type: string
        payload:
          $ref: '#/components/schemas/ServerIdentityPayload'
        existing:
          oneOf:
          - $ref: '#/components/schemas/Server'
          - type: 'null'
    ServerIdentityPayload:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        server_id:
          type: string
        public_key:
          type: string
        fingerprint:
          type:
          - string
          - 'null'
        base_url:
          type: string
        time:
          type: integer
        cores:
          type:
          - integer
          - 'null'
        mem_mb:
          type:
          - integer
          - 'null'
        default_user:
          type:
          - string
          - 'null'
        default_uid:
          type:
          - integer
          - 'null'
        default_home:
          type:
          - string
          - 'null'
        os:
          type: string
        mode:
          type: string
          enum:
          - webhook
          - polling
          - websocket
        version:
          type:
          - integer
          - 'null'
        build_version:
          type:
          - integer
          - 'null'
        build_ts:
          type:
          - string
          - 'null'
        git_commit:
          type:
          - string
          - 'null'
        backend:
          type:
          - string
          - 'null'
        proxy_for:
          type:
          - string
          - 'null'
        proxy_via:
          type:
          - string
          - 'null'
        ssh_host:
          type:
          - string
          - 'null'
        ssh_port:
          type:
          - integer
          - 'null'
        ssh_user:
          type:
          - string
          - 'null'
    ListServersResponse:
      type: object
      additionalProperties: false
      required:
      - servers
      - pending
      properties:
        servers:
          type: array
          items:
            $ref: '#/components/schemas/Server'
        pending:
          type: array
          items:
            $ref: '#/components/schemas/PendingServer'
    ExecBulkRequest:
      type: object
      additionalProperties: false
      required:
      - servers
      - cmd
      properties:
        servers:
          type: array
          minItems: 1
          items:
            type: string
          description: Server names from listServers.
        cmd:
          type: string
          description: Shell command to execute.
        cwd:
          type:
          - string
          - 'null'
          description: Working directory on the remote server.
        timeout:
          type:
          - integer
          - 'null'
          minimum: 1
          description: Command timeout on the remote server in seconds.
        background:
          type: boolean
          default: false
          description: Return task_id immediately without waiting for command result.
    ExecBulkResponse:
      type: object
      additionalProperties: false
      required:
      - results
      properties:
        results:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ServerCommandResult'
    ServerCommandResult:
      oneOf:
      - $ref: '#/components/schemas/CommandResult'
      - $ref: '#/components/schemas/BackgroundCommandResult'
      - $ref: '#/components/schemas/CommandError'
    CommandResult:
      type: object
      additionalProperties: false
      properties:
        stdout:
          type: string
        stderr:
          type: string
        returncode:
          type: integer
    BackgroundCommandResult:
      type: object
      additionalProperties: false
      required:
      - background
      - task_id
      - status
      properties:
        background:
          type: boolean
          const: true
        task_id:
          type: string
        gptadmin_task_id:
          type:
          - string
          - 'null'
        status:
          type: string
          enum:
          - running
        message:
          type:
          - string
          - 'null'
    CommandError:
      type: object
      additionalProperties: false
      required:
      - error
      properties:
        error:
          type: string
    Task:
      type: object
      additionalProperties: false
      properties:
        task_id:
          type: string
        status:
          type: string
          enum:
          - running
          - completed
          - failed
          - orphaned
        cmd:
          type:
          - string
          - 'null'
        cwd:
          type:
          - string
          - 'null'
        result:
          oneOf:
          - $ref: '#/components/schemas/CommandResult'
          - $ref: '#/components/schemas/CommandError'
          - type: 'null'
        error:
          type:
          - string
          - 'null'
        created_at:
          type:
          - integer
          - 'null'
        completed_at:
          type:
          - integer
          - 'null'
        orphaned_at:
          type:
          - integer
          - 'null'
    ListTasksResponse:
      type: object
      additionalProperties: false
      required:
      - server
      - tasks
      properties:
        server:
          type: string
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'
    TaskStatusResponse:
      allOf:
      - $ref: '#/components/schemas/Task'
      - type: object
        additionalProperties: false
        required:
        - server
        - task_id
        - status
        properties:
          server:
            type: string
          task_id:
            type: string
    AckTaskResponse:
      type: object
      additionalProperties: false
      required:
      - ok
      - status
      - server
      - task_id
      properties:
        ok:
          type: boolean
        status:
          type: string
          enum:
          - acknowledged
          - not_found
        server:
          type: string
        task_id:
          type: string
        removed_task:
          type:
          - boolean
          - 'null'
        removed_result:
          type:
          - boolean
          - 'null'
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
      - detail
      properties:
        detail:
          type: string
    McpRelayAgent:
      type: object
      additionalProperties: false
      properties:
        agent_id:
          type: string
        name:
          type: string
        transport:
          type: string
          enum:
          - stdio
          - http
        status:
          type: string
          enum:
          - online
          - offline
        last_seen:
          type:
          - number
          - 'null'
        capabilities:
          type: array
          items:
            type: string
        meta:
          type: object
          additionalProperties: true
    McpRelayAgentsResponse:
      type: object
      additionalProperties: false
      required:
      - agents
      - default_agent
      properties:
        agents:
          type: array
          items:
            $ref: '#/components/schemas/McpRelayAgent'
        default_agent:
          type:
          - string
          - 'null'
    McpRelayToolsRequest:
      type: object
      additionalProperties: false
      properties:
        target:
          type: string
          default: default
          description: Relay agent id from listMcpRelayAgents, or "default".
        timeout:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 35
          default: 30
          description: Synchronous wait timeout in seconds. Keep below the GPT Actions
            45s limit.
    McpRelayCallRequest:
      type: object
      additionalProperties: false
      required:
      - tool_name
      properties:
        target:
          type: string
          default: default
          description: Relay agent id from listMcpRelayAgents, or "default".
        tool_name:
          type: string
          description: Tool name returned by listMcpRelayTools.
        arguments:
          type: object
          additionalProperties: true
          default: {}
          description: Arguments for the remote MCP tool.
        timeout:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 35
          default: 30
          description: Synchronous wait timeout in seconds. Long work returns background=true
            and job_id.
    McpRelayToolResponse:
      oneOf:
      - $ref: '#/components/schemas/McpRelayImmediateResponse'
      - $ref: '#/components/schemas/McpRelayBackgroundResponse'
      - $ref: '#/components/schemas/McpRelayErrorResponse'
    McpRelayImmediateResponse:
      type: object
      additionalProperties: false
      required:
      - agent_id
      - response
      properties:
        agent_id:
          type: string
        response:
          type: object
          additionalProperties: true
          description: Raw MCP tools/list or tools/call result returned by the remote
            MCP server.
    McpRelayBackgroundResponse:
      type: object
      additionalProperties: false
      required:
      - agent_id
      - response
      properties:
        agent_id:
          type: string
        response:
          type: object
          additionalProperties: false
          required:
          - background
          - job_id
          - status
          properties:
            background:
              type: boolean
              const: true
            job_id:
              type: string
            status:
              type: string
              enum:
              - running
            message:
              type:
              - string
              - 'null'
    McpRelayErrorResponse:
      type: object
      additionalProperties: false
      required:
      - agent_id
      - response
      properties:
        agent_id:
          type: string
        response:
          type: object
          additionalProperties: false
          required:
          - error
          properties:
            error:
              type: object
              additionalProperties: true
            job_id:
              type:
              - string
              - 'null'
    McpRelayJobStatusResponse:
      type: object
      additionalProperties: false
      required:
      - job_id
      - status
      properties:
        job_id:
          type: string
        status:
          type: string
          enum:
          - completed
          - running_or_unknown
        result:
          type:
          - object
          - 'null'
          additionalProperties: true
